@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.boards-container{
  @include flex-center(wrap, row);
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  gap: 10em;
}

.board {
  position: relative;
  height: 500px; 
  width: 500px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);

  &__empty-position {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  &__positions {
    @include flex-center(wrap, row);
  }

  &__square {
    border: 1px solid black;
    flex-basis: 10%;
    background: $primary-color;

    .waves {
      padding: 3px;
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(105%);
    }
  }
}