@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.actions-modal {
  @include flex-center(wrap, column);
  user-select: none;
  color: $secondary-color;
  gap: 2em;

  &__randomize {
    @include flex-center(no-wrap, row);
    cursor: pointer;
    gap: .5em;
  }
  
  &__start-game {
    @include button($quaternary-color, $secondary-color);
  }
}

.win-modal {
  @include flex-center(wrap, column);
  user-select: none;
  row-gap: 1em;
  grid-row: -2 / -1;
  grid-column: 1 / -1;

  &__message {
    text-align: center;
    font-size: 3rem;
    color: $secondary-color;
  }

  &__reset-btn {
    @include button($tertiary-color, $secondary-color);
  }
}

.hidden {
  display: none !important; 
  visibility: hidden;
}