@use 'variables' as *;

@mixin flex-center($wrap, $direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin ships-color() {
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin positions-x() {
  @include flex-center(no-wrap, column);
  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      grid-row: 1 / 2;
      grid-column: ($i - 1) / span 1;
    }
  }
}

@mixin positions-y() {
  @include flex-center(no-wrap, column);
  @for $i from 13 through 22 {
    &:nth-child(#{$i}) {
      grid-column: 1 / 2;
      grid-row: ($i - 11) / span 1;
    }
  }
}